  </main>
  <footer class="brand-footer">
    <span>Com amor, <%= coupleNames %></span>
    <% if (weddingDate) { %>
      <span class="dot">•</span><span><%= weddingDate %></span>
    <% } %>
  </footer>
</body>
</html>
